{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App - Tareas</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi reprehenderit ratione voluptas aperiam maxime, explicabo exercitationem fuga eaque impedit numquam iste blanditiis saepe consequuntur. Amet officiis expedita distinctio cumque dicta, pariatur vero iusto ab deleniti, a culpa quos ipsum ullam sit itaque. Voluptatum eum nihil, voluptates excepturi commodi maxime optio ex voluptate porro sapiente laudantium ea earum temporibus provident atque molestias impedit itaque! Repudiandae, voluptatem! Nostrum nobis iure reiciendis impedit obcaecati, sed sit! Aliquam recusandae, minima ex, blanditiis mollitia maxime pariatur non placeat, iste sunt consequuntur nihil quod similique nisi aut animi nobis ea vel eaque doloremque. Illum, illo? In!</p>
        <div class="text-center">
            <a class="btn btn-primary btn-dark" href="/login/">Iniciar Sesión</a>
            <a class="btn btn-secondary" href="/signup/">Registrarse</a>
        </div>
    </section>

</main>



{% endblock %}